.Title{
    background-color: #F1E0AC;
    font-size: 40px;
    padding: 35px;
    text-align: center;
    color: #495371;
    
}

.second{
    background-color: #495371;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
    color: #F1E0AC;
}

span{
    margin: 100px;
}

.third{
    background-color: #C2DED1;
    text-align: center;
    padding: 50px;
}

img{
    width: 350px;
    height:500px;
    margin: 10px;
    border: solid;
    background-color: #CDC2AE;
    float: left;
}
   


hr{
 border-color: #354259; 
 border-style:dotted none none;
 border-width: 10px;
 width: 5%;
 }

 #Register{
     background-color: #495371;
     color: #F1E0AC;
     padding: 20px;
     text-align: center;

 }

.address{
    background-color: #F1E0AC;
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    color: #495371;
 }

 .Home_1{
    background-color: #F1E0AC;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    color: #495371;
    
}

a{
  text-decoration: none;
}

 .Pizzas{
    display:inline-block;
    margin: 20px 60px 20px 20px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #F1E0AC;
    color: #495371;
    padding: 10px;
    text-align: center;
  }

  .Burgers{
    display:inline-block;
    margin: 20px 60px 20px 20px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #F1E0AC;
    color: #495371;
    padding: 10px;
    text-align: center;
  }

  .sandwiches{
    display:inline-block;
    margin: 20px 60px 20px 20px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #F1E0AC;
    color: #495371;
    padding: 10px;
    text-align: center;
  }

  .Coffee{
    display:inline-block;
    margin: 20px 60px 20px 20px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #F1E0AC;
    color: #495371;
    padding: 10px;
    text-align: center;
  }

  .About{
    display:inline-block;
    margin: 20px 60px 20px 20px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #F1E0AC;
    color: #495371;
    padding: 10px;
    text-align: center;
  }

.Pizza_para{
  background-color: #495371;
  padding: 20px;
  font-size: 25px;
  justify-content: space-between;
  text-align: center;
  color: #F1E0AC;

}

.button input[type="radio"] {
  display: none;
  margin: 0;
}

input[type="radio"]:checked + label {
  border: 1px solid red;
}


  

 
    




